<mat-toolbar class="nv-toolbar">
  <div class="nv-toolbar-container">
    <button
      mat-icon-button="Example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="(opened != opened)"
    >
      <mat-icon *ngIf="!opened">menu</mat-icon>
      <mat-icon *ngIf="opened">close</mat-icon>
    </button>
    <span class="nv-toolbar-container__title">Narcissism Voyage</span>
    <div class="nv-toolbar-container__button">
      <button
        mat-icon-button="Example-icon"
        aria-label="Example icon-button with search"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button="Example icon-button with shopping cart">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>