.home-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &__header{
    }

    &__drawer-container{
        flex: 1;
        overflow: auto;

        &__list{
            width: 450px;
            height: 100%;
        }
    }
}